.cast-details {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 800;
  color: #a82224;
  padding-left: 40px;
}

.movies-details-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
}
